.checkbox {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 0.3rem;
    border: 1px solid var(--color-border);
    cursor: pointer;
    background-image: url('@/assets/images/icon-check.svg');
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s background-color ease-in-out, 0.2s border-color ease-in-out;

    &.checkbox--active {
        border-color: var(--purplish-blue);
        background-color: var(--purplish-blue);
    }
}

.addons {
    display: block;

    .addon {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1rem;
        padding: 1.12rem 1.5rem;
        background-color: var(--white);
        border-radius: 0.5rem;
        border: 1px solid var(--color-border);
        cursor: pointer;

        &:hover {
            border-color: var(--color-border-hover);
        }

        &.addon--included {
            border-color: var(--color-border-hover);
            background: var(--alabaster);
        }

        .addon__status {
            padding-right: 1.5rem;
        }

        .addon__price {
            margin-left: auto;
            margin-right: 0;
            font-size: 0.875rem;
            line-height: 1.25rem;
            margin-bottom: 0;
            color: var(--color-text);
            font-feature-settings: 'clig' off, 'liga' off;
            color: var(--purplish-blue);
        }

        .addon__name {
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 7px;
            color: var(--color-heading);
        }

        .addon__description {
            font-size: 0.875rem;
            line-height: 1.25rem;
            margin-bottom: 0;
            color: var(--color-text);
            font-feature-settings: 'clig' off, 'liga' off;
        }
    }
}