.btn {
    display: inline-flex;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: 0;
    cursor: pointer;
  
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: 0.2s background-color ease-in-out;

    &.btn-primary {
        color: var(--white);
        background-color: var(--marine-blue);
    }
    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}


@media (hover: hover) {
    .btn-primary:hover {
        background-color: var(--marine-blue-hover);
    }
}

@media (min-width: 1024px) {
    .btn {
        padding: 1rem 1.5rem;
        font-size: 1rem;
    }
}