@import './fonts.css';
@import './base.css';
@import './scss/sidebar.scss';
@import './scss/footer.scss';
@import './scss/buttons.scss';
@import './scss/steps.scss';
@import './scss/plans.scss';
@import './scss/addons.scss';
@import './scss/preview.scss';
@import './scss/vue-transitions.scss';

#app {
  margin: 0 auto;
  font-weight: normal;
  min-height: 100vh;
  display: block;
  position: relative;
}

h1 {
  margin: 0 0 0.56rem 0;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--marine-blue);
}

h3 {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 7px;
  color: var(--color-heading);
}

.error-text {
  color: var(--strawberry-red);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.app-link {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  text-decoration-line: underline;
  color: var(--color-text);
  transition: 0.2s color ease-in-out;
}


@media (hover: hover) {
  a:hover {
    color: var(--purplish-blue);
  }
}

@media (min-width: 1024px) {
  #app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  h1 {
    margin: 0 0 0.69rem 0;
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }
}
